<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spring.ch9.dao.AccountMapper" >
  <resultMap id="BaseResultMap" type="spring.ch9.entity.Account" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="accountname" property="accountname" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, accountname, money
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="spring.ch9.entity.Account" >
    insert into account (id, accountname, money
      )
    values (#{id,jdbcType=INTEGER}, #{accountname,jdbcType=VARCHAR}, #{money,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="spring.ch9.entity.Account" >
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountname != null" >
        accountname,
      </if>
      <if test="money != null" >
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountname != null" >
        #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="spring.ch9.entity.Account" >
    update account
    <set >
      <if test="accountname != null" >
        accountname = #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="spring.ch9.entity.Account" >
    update account
    set accountname = #{accountname,jdbcType=VARCHAR},
      money = #{money,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>