<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!-- auto scan package -->
    <context:component-scan base-package="spring.ch9" />

    <!-- reference jdbc config file -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:jdbc.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true" />
    </bean>

    <!-- dataSource configer -->
<!--     <bean id="sampleDataSource" class="org.apache.commons.dbcp.BasicDataSource"> -->
<!--         <property name="driverClassName" value="${jdbc.driver}" /> -->
<!--         <property name="url" value="${jdbc.url}" /> -->
<!--         <property name="username" value="${jdbc.username}" /> -->
<!--         <property name="password" value="${jdbc.password}" /> -->
<!--  		<property name="maxWait" value="${jdbc.maxWait}" /> -->
<!--     </bean> -->
    
    <bean name="sampleDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	  	<property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
	</bean>

    <!-- reference mybatis config file，scan mapper dir -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<property name="dataSource" ref="sampleDataSource"/>
    	<property name="typeAliasesPackage" value="spring.ch9.entity"/>
    	<property name="mapperLocations" value="classpath:mappers/*.xml"/>
<!-- 		<property name="plugins"> -->
<!-- 		    <array> -->
<!-- 		      <bean class="com.github.pagehelper.PageHelper"> -->
<!-- 		        <property name="properties"> -->
<!-- 		          <value> -->
<!-- 		            dialect=mysql -->
<!-- 		          </value> -->
<!-- 		        </property> -->
<!-- 		      </bean> -->
<!-- 		    </array> -->
<!-- 		</property> -->
    </bean>

    <!-- spring and mybatis integration，scan dao package -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    	<property name="basePackage" value="spring.ch9.dao"/>
    	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>

    <!-- config the transaction -->  
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="sampleDataSource" />  
    </bean>  
      
    <!-- 开启事务控制的注解支持 -->  
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
